.main {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 0 5px #00000010;

  &.loading {
    color: gray !important;
  }

  .select {
    font-size: 18px;
  }
}
