.lang {
  & > a {
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--ff500);
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    color: var(--iPrimary);
    text-decoration: none;
    transition: var(--iTransition);

    &:hover {
      background: var(--iPrimaryLight);
    }
  }
}
