.footer {
  margin-top: auto;
  background: var(--iBgFooter);

  .inner {
    .head {
      gap: 30px;
      display: flex;
      align-items: center;
      padding: 25px 0 15px;
      justify-content: space-between;
      border-bottom: 1px solid #225c6f;

      @media (max-width: 768px) {
        align-items: initial;
        flex-direction: column;
      }

      .left {
        .logo {
          display: inline-block;
          width: 154px;
          height: 37px;
          margin-bottom: 20px;
          transition: var(--iTransition);

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }

          &:hover {
            filter: drop-shadow(0 0 1px var(--iWhite));
          }
        }

        .list {
          gap: 5px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .link {
            gap: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            transition: var(--iTransition);
            opacity: 0.5;

            img {
              width: 24px;
              height: 24px;
              object-fit: contain;
              object-position: center;
            }

            span {
              font-family: var(--ff500), sans-serif;
              font-size: 14px;
              font-weight: 500;
              line-height: 21px;
              letter-spacing: 0em;
              text-align: left;
              color: var(--iWhite);
              opacity: 0.5;
            }

            &:hover {
              opacity: 1;
            }
          }
        }
      }

      .right {
        gap: 50px;
        display: flex;

        @media (max-width: 768px) {
          justify-content: space-evenly;
        }

        @media (max-width: 576px) {
          gap: 30px;
          justify-content: initial;
          flex-direction: column;
        }

        .nav {
          display: flex;
          flex-direction: column;

          .title {
            color: var(--iPrimaryLight);
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            opacity: 0.5;
            margin-bottom: 12px;
          }

          .link {
            width: fit-content;
            position: relative;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            text-decoration: none;
            color: var(--iPrimaryLight);

            &:not(:last-child) {
              margin-bottom: 3px;
            }

            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0%;
              height: 2px;
              background: var(--iPrimaryLight);
              transition: var(--iTransition);
            }

            &:hover::after {
              width: 100%;
            }
          }
        }
      }
    }

    .bottom {
      gap: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-block: 25px;

      @media (max-width: 768px) {
        text-align: center;
        flex-direction: column;
        justify-content: center;
      }

      // @media (max-width: 576px) {
      // 	gap: 30px;
      // 	justify-content: initial;
      // }

      .info {
        font-family: var(--ff500), sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--iWhite);
        opacity: 0.5;
      }

      .socials {
        gap: 26px;
        display: flex;
        align-items: center;

        .link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          padding: 2px;

          img {
            width: 100%;
            height: 100%;
            opacity: 0.5;
            object-fit: contain;
            transition: var(--iTransition);
          }

          &:hover {
            img {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
